


body{
        background: #A9A9A9;
        color: #4B0082;
        text-align: center;
        padding:1%
}

table{
        margin: 0 auto;
        color: #0000CD
}

img{
        display: display: inline-block
}

hr{
        color: black;
}
