<!DOCTYPE html>
   <head>
      <title>s3602839 Histogram</title>
      <link rel="stylesheet" href='../static/styles.css'/>
   </head>
   <body>
        <h1>Histogram for Temperature readings </h1>
        <p> Enter number of samples to retrieve:
        <form method="POST">
                <input name="numSamples" value= {{numSamples}}>
                <input type="submit">
                </form></p>
        <hr>
        <img src="/plot/temp" alt="Image Placeholder" width="49%">
   </body>
</html>

